# dependencies
/node_modules
.claude/
# next.js
/.next/
/out/
CLAUDE.md
plan.md
# production
/build

# env
.env
.env*.local

# misc
.DS_Store
*.pem
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts
